*.o
*.cout
*.bat
*.pbi
*.out
*.map

/Debug
Firmware/test1_capture_image/EWARM/Output/
PCB/CommonPCB_v1.1M/Project/History/
PCB/CommonPCB_v1.1M/Project/Project Outputs for Lidar_PCB_Project/
PCB/CommonPCB_v1.1M/Project/__Previews/
Firmware/lidar4_main_code/EWARM/Output/Exe/Project.sim
Firmware/lidar4_main_code/EWARM/Output/Obj/
PCB/CommonPCB_v1.2/Project/History/
PCB/CommonPCB_v1.2/Project/Project Outputs for Lidar_PCB_Project/
PCB/CommonPCB_v1.2/Project/__Previews/
ROS/roomba_lidar/build/
ROS/roomba_lidar/bin/
ROS/roomba_lidar/lib/
ROS/roomba_lidar/ROS_NOBUILD
~$TotalBOM.xlsx
PC_utility/LidarScanningTest/LidarScanningTest1/obj/
PC_utility/LidarScanningTest/LidarScanningTest1/bin/Debug/LidarScanningTest1.exe.config
PCB/CommonPCB_v1.2M/Project/History/
PCB/CommonPCB_v1.2M/Project/Project Outputs for Lidar_PCB_Project/
PCB/CommonPCB_v1.2M/Project/__Previews/
Firmware/test2_capture_image/EWARM/Output/
Firmware/test2_capture_image/EWARM/settings/
Firmware/test2_capture_image/StdPeriphLib/
*.cspy.ps1
*.xcl
PCB/CommonPCB_v1.1M/Project/Project Logs for Lidar_PCB_Project/
PCB/CommonPCB_v1.2/Project/Project Logs for Lidar_PCB_Project/
PCB/CommonPCB_v1.2M/Project/Project Logs for Lidar_PCB_Project/
PC_utility/LidarScanningTest/LidarScanningTest1/.vs/
