<launch>

<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /neato_laser 100" />

   <node pkg="roomba_lidar" type="lidar_publisher"
    name="lidar_driver" output="screen">
    <param name="port" value="/dev/ttyS3"/>
    <param name="baud_rate" value="115200"/>
    <param name="a_coef" value="0.0000367"/>
    <param name="b_coef" value="0.417"/>
    <param name="base_coef" value="-0.058"/>
    <param name="angular_corr" value="0.02"/>
   </node>

</launch>
